.imagem2{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/507/606/546/egor-klyuchnyk-digital-art-illustration-artwork-fictional-characters-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}